@import 'normalize.css';

.charts-flex-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
}

#timelineChart {
  height: auto;
  margin-bottom: 10px;
  flex-grow: 1;
  width: 100%; /* Take full width */
}


#myChart {
  height: auto;
  max-width: 300px; /* Set maximum width for larger screens */
}

.chart-with-toggles {
  flex: 1; /* Take full width initially */ 
  gap: 10px;
  align-items: stretch;
}

@media (max-width: 767px) {
  .charts-flex-container {
    flex-direction: column;
   /* align-items: stretch; /* Optional: Ensures items stretch to full width */
  }

  #timelineChart, #myChart {
    flex: 1; /* Each chart takes equal width */
    max-width: none; /* Remove max-width for larger screens */
    max-height: 250px;
  }
}

.mat-slide-toggle-left {
  margin-right: 8px;
  vertical-align: top;
  cursor: pointer;
}

.mat-slide-toggle-left {
  cursor: default;
  pointer-events: none;
}

