<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card">
    <div class="container-fluid">
      <div class="charts-flex-container">
          <!-- Pie Chart Canvas -->
          <div class="chart-container">
            <div class="switch-container">
              <span (click)="tg.toggle()" 
              class="mat-slide-toggle-left mat-slide-toggle">
                Broker
              </span>
              <mat-slide-toggle #tg (change)="toggleChartData()">
                Categories
              </mat-slide-toggle>
            </div>
            <canvas id="myChart"></canvas>
          </div>
        <!-- Container for Timeline Chart and its Toggles -->
        <div class="chart-with-toggles">
          <!-- Dropdown for Time Span -->
          <form [formGroup]="timeform">
            <select formControlName="timeSelector" (change)="onTimeSpanChange()">
              <option value="7days">Last 7 Days</option>
            <option value="month">Last Month</option>
            <option value="YTD">Year To Date</option>
          </select>
        </form>
          <!-- Timeline Chart Canvas -->
            <canvas id="timelineChart"></canvas>

          <!-- Toggle Buttons for Timeline Chart -->
          <div class="text-center">
            <mat-button-toggle-group [(ngModel)]="currentView" name="viewOptions">
              <mat-button-toggle value="all" (click)="toggleView('all')">All</mat-button-toggle>
              <mat-button-toggle value="category" (click)="toggleView('category')">Category</mat-button-toggle>
              <mat-button-toggle value="broker" (click)="toggleView('broker')">Broker</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
