.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
}

.suggestions-list li {
    padding: 8px 12px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f1f1f1;
}
.expanded-row-content .sub-asset-row {
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }
  
  .expanded-row-content .sub-asset-cell {
    flex: 1; /* Adjust based on the number of columns */
    padding: 8px; /* Match your table's cell padding */
    border-bottom: 1px solid #e0e0e0; /* Match your table's cell border */
    box-sizing: border-box;
  }
  
  .mat-form-field {
    margin-right: 12px;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-content: space-between; 
    padding: 1rem; /* Adjust padding as needed */
    flex-flow: column wrap; 
}
.add-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center; /* This centers the modal dialog */
  z-index: 1040; /* Ensures it's above the content but below the modal dialog */
}
.modal-dialog {
  max-width: 500px; /* Adjust based on your design */
  width: 90%; /* Responsive width */
  max-height: 90vh; /* Allows for scrolling */
  overflow-y: auto; /* Enables scrolling within the modal */
  background-color: #fff; /* Assuming you want a white background */
  border-radius: 8px; /* Optional: for styled corners */
  box-shadow: 0 4px 6px rgba(0,0,0,.1); /* Optional: for a slight shadow */
  z-index: 1050; /* Higher than .add-modal to be on top */
}